.file-converter {
  max-width: 500px;
  margin: 60px auto;
  padding: 30px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  font-family: 'Poppins', sans-serif;
  color: #bfa374;
}

.file-converter h2 {
  text-align: center;
  font-size: 28px;
  margin-bottom: 25px;
  color: #bfa374;
}
.animation-panel {
 
  height:400px;
  text-align: center;
  font-size: 18px;
  margin-bottom: 20px;
  color: #bfa374;
  font-family: 'Poppins', sans-serif;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
}
.animation-panel h4{
  text-align: center;
   max-width: 100%;       /* se încadrează în container */
  overflow-wrap: break-word; /* sparge cuvintele prea lungi */
  white-space: normal;   /* permite wrap pe mai multe linii */
}
.animation-panel img {
  min-width: 200px;
  max-width: 300px;
  height: 300px;
  object-fit: cover;
  margin-bottom: 10px;
  border-radius: 5px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: 500;
  margin-bottom: 8px;
}
.form-group input,
.form-group select {
  width: 100%;          /* ocupă toată lățimea containerului */
  padding: 8px 12px;    /* același padding ca select */
  box-sizing: border-box; /* include padding-ul în lățime */
  font-size: 14px;       /* sau același ca select */
}
select,
input[type="file"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #bfa374;
  border-radius: 8px;
  font-size: 14px;
  background-color: #fff;
  color: #333;
}

select:focus,
input[type="file"]:focus {
  outline: none;
  border-color: #a48c5f;
  box-shadow: 0 0 5px rgba(191, 163, 116, 0.5);
}


.choice-image {
  opacity: 0;
  
  max-width: 180px;
  margin-top: 12px;
}

.show-text {
  transform: translateY(10px);
  transition: opacity 0.9s ease, transform 0.9s ease;
  opacity: 1;
  transform: none;
}
.show-image {
  opacity: 1;
  transform: scale(0.9);
  transition: opacity 0.9s ease, transform 0.9s ease;}

.file-converter {
  position: relative; /* necesar pentru overlay */
}

.loading-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 248, 230, 0.8); /* bej deschis semi-transparent */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.spinner {
  width: 40px;
  height: 40px;
  border: 4px solid #c4a96d; /* bej mai inchis */
  border-top: 4px solid transparent;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}