.main-home {
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap; /* permite trecerea elementelor unul sub altul pe ecrane mici */
}

.hero {
  width: 100%;
  max-width: 600px; /* lățime maximă imagine */
  height: 70vh;
  overflow: hidden;
  padding: 20px;
  display: flex; /* pentru centrare imagine */
  justify-content: center;
  align-items: center;
}

.hero img {
  height: 100%;
  width: auto; /* păstrează proporțiile și centrează */
  border-radius: 5px;
}

.about-project {
  flex: 2;
  min-width: 300px; /* previne micșorarea excesivă */
  padding: 40px;
}

.about-project h4 {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 3vw;
  color: #bfa374;
}

.about-project p {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 2vw;
  color: #bfa374;
}
