
.hero {
  width: 100%;
  height: 80vh; /* 80% din înălțimea ecranului */
  overflow: hidden;
}

.hero img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* taie și scalează imaginea ca să umple secțiunea */
  display: block;
}