html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}
.navbar {
    display: flex;
    height: 120px; /* sau cât vrei tu */
    align-items: stretch; /* copiii se întind pe toată înălțimea nav-ului */
    background: #01d069;
}

.navbar > div {
    flex: 1; /* fiecare ia lățimea alocată */
    margin: 0;
    padding: 20px; /* spațiu intern */
   
    display: flex; /* ca să centrezi conținutul pe verticală și orizontală */
    justify-content: center;
    align-items: center;
}
.navbar img {
    width: 15rem;
    height: auto;
}
.navbar a {
    text-decoration: none;
    color: #fff;
    margin: 0 10px;
    font-size: 1rem;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}

.navbar div:hover {
    background-color: #339b4b;
    color: #01d069;
}